

.resize {
    overflow:auto;
    overflow-x: hidden; 
    height:100%; 
    width: 100%;
}

.resize-container {
    padding-left: 10px; 
    padding-right: 5px; 
    margin: 10px 0px 10px 0px; 
    width: 98%;
    width: expression("98%");
    overflow-x: hidden;
}